
.messagebox {
    border: solid white 1px;
    width: 100%;
    height: 500px;
    position: relative;
    box-shadow: 2px 2px grey;
    border-radius: 5px;
    background: white;
    padding: 3px;
  }
  
  .messages {
    overflow-y: scroll;
    height:86%;
    
  }
  
  .reply {
    border-radius: 5px;
    border: solid rgba(77, 220, 245, 0.658) 1px;
    background: rgba(77, 220, 245, 0.658);
    margin-bottom: 3px;
    margin-top: 2px;
      padding: 3px;
  
    box-shadow: 2px 2px grey;
    width: 98%;
  
  }
  
  .data-message{
    word-wrap: break-word;
  }
  
  .replybox {
  
    position: absolute;
    bottom: 0;
  
      width: 98%;
    
  }
  
  .textbox{
    width: 80%;
  }
  
  .button{
    width: 40%;
  }
  
  .message {
    border-radius: 5px;
    border: solid rgba(178, 245, 77, 0.658) 1px;
    background: rgba(178, 245, 77, 0.658);
    margin-bottom: 3px;
    margin-top: 2px;
      padding: 3px;
    text-align: right;
    box-shadow: 2px 2px grey;
    width: 98%;
  }
  
  .data-name {
    font-weight: bold;
  }
  
  .data-time {
    font-style: italic;
    color : grey;
  }
  
  span {
  
    margin-bottom: 3px;
  }
  
  